
  {% load static %}<!doctype html>
<html>

<head>
    <title>Line Chart</title>



    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/utils.js' %}></script>

    <script src={% static 'js/bootstrap.min.js' %}></script>

    <script src={% static 'js/Chart.min.js' %}></script>
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    nav{
      text-align: center;
      background-color: #00000040;
    }
    ul{
      list-style: none;
      display: inline-flex;
      margin-bottom: 0;

    }
    li{
      padding: 10px;
    }
    #juan{
      border-radius: 5px;
      background-color: gray;
    }
    a{
      color: white;
      font-family: chaparral-pro,sans-serif;
      font-size: 15px;
    }

    </style>
</head>

<body>
  <nav>
  <ul>
  <a><li id="juan">Home</li></a>
  <li id="two"><a href="#news">News</a></li>
  <li id="two"><a href="#contact">Contact</a></li>
  <li id="two"><a href="#about">About</a></li>
</ul>
</nav>
    <div style="width:50%;margin-left: 25%;" >
        <canvas id="canvas" ></canvas>
    </div>

    <br>
    <br>
    <div align="center">
      <button id="activate" class="alert-success">Activate GET request</button>
      <button id="deactivate" class="alert-success">Stop GET request</button>
    </div>


    <script>

    // $(document).ready(function(){
    //   $("#getTrx").click(function(e){
    //     fetch('updateData')
    //   .then(response => response.text().then(function (text){
    //     $("#test1").text("Function data from Django: " + text);
    //   }))
    //   .then(data => {
    //       console.log("DATA");
    //   })
    //   .catch(error => {
    //       console.log(error);
    //   });
    //
    //
    //   });
    //
    // });

    </script>
    <script>
    async function getTrxValue(){
      try{
        var getData = await fetch('getPrice');
        const pyData = await getData.text();
        console.log("Data from python: " + pyData)
        return pyData;
      }catch (error){
        console.log(error);
      }
    }

        var MONTHS = ["1 SEC"];
        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "$TRX VALUE",
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.black,
                    data: [

                    ],
                    fill: true,
                }],
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Chart.js Line Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'LIVE TIME'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '$TRX'
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };

        var colorNames = Object.keys(window.chartColors);


        document.getElementById('activate').addEventListener('click', function (){   //Get coin data periodically
                  var activate = setTimeout(async function number(){
                    var data = await getTrxValue();

                    if (config.data.datasets.length > 0) {
                        var month = MONTHS[config.data.labels.length % MONTHS.length];
                        var d = new Date();
                        var time = String(d.getHours()) + ":" + String(d.getMinutes()) + ":" + String(d.getSeconds());
                        config.data.labels.push(time);

                        config.data.datasets.forEach(function(dataset) {
                            if(dataset.data.length > 22){
                              console.log("Activated!");
                              config.data.labels.shift();
                              config.data.datasets[0].data.shift();
                              window.myLine.update();
                            }
                            dataset.data.push(data);
                        });

                        window.myLine.update();
                    }


                      var repeat = setTimeout(number, 3000);
                      document.getElementById('deactivate').addEventListener('click', function(){  //Stop getting coin data periodically

                          clearTimeout(repeat);
                      });
                  });
            });





    </script>

</body>

</html>
