
  {% load static %}<!doctype html>
<html>

<head>
    <title>Line Chart</title>

    <script src={% static 'js/Chart.min.js' %}></script>
    <script src={% static 'js/utils.js' %}></script>
    <script src={% static 'js/jquery.js' %}></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <div style="width:75%;">
        <canvas id="canvas"></canvas>
    </div>

    <br>
    <br>
    <button id="randomizeData">Randomize Data</button>
    <button id="addDataset">Add Dataset</button>
    <button id="removeDataset">Remove Dataset</button>
    <button id="addData">Add Data</button>
    <button id="removeData">Remove Data</button>
    <button id="postdata">POST</button>
    <button id="activate">Activate GET</button>
    <button id="deactivate">Deactivate GET</button>
    <p id="test1"></p>

    <script>

    $(document).ready(function(){
      $("#postdata").click(function(e){
        fetch('updateData')
      .then(response => response.text().then(function (text){
        $("#test1").text("Function data from Django: " + text);
      }))
      .then(data => {
          console.log("DATA");
      })
      .catch(error => {
          console.log(error);
      });


      });

    });

    </script>
    <script>
    async function randNumber(){
      try{
        var getData = await fetch('updateData');
        const pyData = await getData.text();
        console.log("Data from python: " + pyData)
        return pyData;
      }catch (error){
        console.log(error);
      }
    }

        var MONTHS = ["0100", "0200", "0300", "0400", "0500", "0600", "0700", "0800", "0900", "1000", "1100", "1200", "1300", "1400", "1500", "1600", "1700", "1800", "1900", "2000", "2100", "2200", "2300", "2400"];
        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "My First dataset",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [

                    ],
                    fill: true,
                }],
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Chart.js Line Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '$TRX'
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };

        document.getElementById('randomizeData').addEventListener('click', function() {
            config.data.datasets.forEach(function(dataset) {
                dataset.data = dataset.data.map(function() {
                    return randomScalingFactor();
                });

            });

            window.myLine.update();
        });

        var colorNames = Object.keys(window.chartColors);
        document.getElementById('addDataset').addEventListener('click', function() {
            var colorName = colorNames[config.data.datasets.length % colorNames.length];
            //var data = {{home}};
            var newColor = window.chartColors[colorName];
            var newDataset = {
                label: 'People ' + config.data.datasets.length,
                backgroundColor: newColor,
                borderColor: newColor,
                data: [],
                fill: false
            };

            for (var index = 0; index < config.data.labels.length; ++index) {
                newDataset.data.push(randomScalingFactor());
            }

            config.data.datasets.push(newDataset);
            window.myLine.update();
        });

        document.getElementById('addData').addEventListener('click', async function() {
          var theData = await randNumber();

            if (config.data.datasets.length > 0) {
                var month = MONTHS[config.data.labels.length % MONTHS.length];
                config.data.labels.push(month);

                config.data.datasets.forEach(function(dataset) {
                    dataset.data.push(theData);
                });

                window.myLine.update();
            }
        });

        document.getElementById('removeDataset').addEventListener('click', function() {
            config.data.datasets.splice(0, 1);
            window.myLine.update();
        });

        document.getElementById('removeData').addEventListener('click', function() {
            config.data.labels.splice(-1, 1); // remove the label first

            config.data.datasets.forEach(function(dataset, datasetIndex) {
                dataset.data.pop();
            });

            window.myLine.update();
        });



        document.getElementById('activate').addEventListener('click', function (){

            var activate = setTimeout(async function number(){
              var data = await randNumber();

                if (config.data.datasets.length > 0) {
                    var month = MONTHS[config.data.labels.length % MONTHS.length];
                    config.data.labels.push(month);

                    config.data.datasets.forEach(function(dataset) {
                        dataset.data.push(data);
                    });

                    window.myLine.update();

                }

                var repeat = setTimeout(number, 1000);
                document.getElementById('deactivate').addEventListener('click', function(){
                    clearTimeout(repeat);
                });
            });


      });


    </script>

</body>

</html>
